@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic);

/*Minified Eric Meyer CSS Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*CSS Reset Ends*/

/*pick a colour scheme:
neutral colour = grey
highlight = hot pink*/

body {
    background: grey;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.38888;
}

#site-header {
     background: hotpink;
}

#site-header h1 a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 960px;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
}

#intro {
    position: relative;
    text-align: center;
    width: 960px;
    margin: 10px auto;
    background: hotpink;
    padding: 20px;
}

#main-block {
    position: relative;
    text-align: center;
}

#main-block p {
    margin-bottom: 20px;
}

#main-page {
    width: 960px;
    align-content: center;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
}

#main-page h2 {
    color: hotpink;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
}

.hobby {
    width: 300px;
    float: left;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.hobby:nth-child(3n+1) {
    margin-right: 0;
}

.interest {
    position: relative;
    overflow: hidden;
    height: inherit;
}

.interest h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.75);
    color: hotpink;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
}

.interest img {
    max-width: 100%;
    cursor: pointer;
}

.desc {
    position: fixed;
    z-index:9000;
	top:-1000px;
	left:50%;
	background:white;
	padding:20px;
	
	-webkit-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
}

.open .desc {
	top:50%;
	
	-webkit-transform: translate(-50%,-50%) scale(1);
    -ms-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
	}

.desc h3 {
    color:black;
    text-transform: uppercase;
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 25px;
}

.desc p {
    margin-bottom: 25px;
}

.desc ul {
    list-style: disc;
    margin-left: 25px;
}
.desc a {
    display: block;
    background: hotpink;
    color: black;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
	margin-bottom:5px;
}

#fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.66)
}


@media screen and (max-width: 960px) {
    #site-header h1 a {
        text-align: center;
    }
    
    #intro {
	width:450px;
	}
    
    #hobby-list {
        width: 545px;
        margin: 0 auto;
        padding: 20px 10px 0 10px;
    }
    
    .hobby {
	width:250px;
	}
}